<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>管理员登录</title>
    <link rel="icon" href="/css/all/icon.png" type="image/png">
    <link rel="stylesheet" href="/css/index/style.css">
    <link rel="stylesheet" href="/css/admin_login/admin_login.css">
</head>
<body>
    <div class="container">
        <div class="box">
            <h2>管理员登录</h2>
            {% if error %}
                <div class="error">{{ error }}</div>
            {% endif %}
            <form method="post">
                <div class="form-group">
                    <label for="password">输入管理员密码</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <button type="submit" class="btn">登录</button>
            </form>
        </div>
    </div>
    <div kid="copyright">
            <a kid="pd" href="/u.html" target="_blank">用户协议与隐私政策</a>
            <h4 class="nul">-</h4>
            <h4>©2024-2026 JsoftStudio</h4>
    </div>
</body>
</html>