<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>快递柜初始化</title>
    <link rel="icon" href="/css/all/icon.png" type="image/png">
    <link rel="stylesheet" href="/css/index/style.css">
    <link rel="stylesheet" href="/css/initialize/initialize.css">
</head>
<body>
    <div class="container">
        <div class="box">
            <h2>快递柜初始化</h2>
            <form method="post">
                <div class="form-group">
                    <label for="password">设置管理员密码</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <button type="submit" class="btn">确认</button>
            </form>
        </div>
    </div>
    <div kid="copyright">
            <a kid="pd" href="/u.html" target="_blank">用户协议与隐私政策</a>
            <h4 class="nul">-</h4>
            <h4>©2024-2026 JsoftStudio</h4>
    </div>
</body>
</html>